MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=todoapp_db
MYSQL_USER=todo_user
MYSQL_PASSWORD=todo_secret

# Backend DB Configuration
DB_HOST=mysql
DB_PORT=3306
DB_NAME=todoapp_db
DB_USERNAME=todo_user
DB_PASSWORD=todo_secret
CORS_ALLOWED_ORIGINS=http://localhost:80,http://localhost
